{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "classes": true,
  },
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": "off",
    "react/sort-comp": "off",
    "react/jsx-no-bind": "off",
    "no-multi-assign": "off",
    "no-mixed-operators": "off",
    "no-param-reassign": "off",
    "no-unused-expressions": "off",
    "global-require": "off",
    "no-console": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "no-underscore-dangle": "off",
    "no-var": "off",
    "func-names": "off",
    "class-methods-use-this": "off",
    "max-len": ["error", 150],
    "react/prop-types": "off",
    "one-var": "off",
    "one-var-declaration-per-line": "off",
  },
}
